{% extends "base.html" %}
{% block title %}Scoreboard{% endblock %}
{% block additional_head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
<script>
var VALUE_TO_COLOR = {
    '1': 'green',
    '0': 'red'
};
var DEFAULT_COLOR = 'blue';
var firstRun = true;

function drawResults(results) {
    $.each(results, function(name, value){
        var id = name.replace(/ /g, '_');
        var container = $('#' + id);
        if (container.length < 1) {
            container = $('<tr/>')
                .attr('id', id)
                .appendTo('#scoreboard');
        }
        container.empty();

        var ledClass = 'led led-' + (VALUE_TO_COLOR[value.status] || DEFAULT_COLOR);
        container
            .append($('<td class="led-label"></td>').text(name + ': '))
            .append($('<td/>').append($('<span/>').addClass(ledClass)))
            .append($('<td/>').append(value.uptime));



    });
}

function getStatus() {
    $.getJSON("/api/services/uptime", function(results) {
        if (firstRun) {
            firstRun = false;
            // Clear the loading text
            $('#scoreboard').empty();
        }

        drawResults(results);
    });
}

$(function() {
    window.getStatusInterval = setInterval(getStatus, 1000);
});

namespace = '/scoring';
var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
socket.on('test', function(data) {
     $("#start").attr('disabled','disabled');
     $("#Button2Id").removeAttr('disabled');
});

function startScoring() {
    socket.emit('start_scoring_engine');
}

function stopScoring() {
    socket.emit('stop_scoring_engine');
}

</script>
{% endblock %}
{% set active_page = "scoreboard" %}
{% block content %}


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Service</th>
      <th scope="col">Status</th>
      <th scope="col">Uptime</th>
    </tr>
  </thead>
  <tbody id="scoreboard">
      <tr>
          <td>Loading...</td>
      </tr>
  </tbody>
</table>

<input type="button" class="btn btn-success" id='start' value="Start Scoring Process" onclick="startScoring()"/>
<input type="button" class="btn btn-danger" id='stop' value="Terminate Process" onclick="stopScoring()"/>

{% endblock %}
