{% extends "base.html" %}
{% block title %}Scoreboard{% endblock %}
{% block additional_head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
<script>
var VALUE_TO_COLOR = {
    '1': 'green',
    '0': 'red'
};
var DEFAULT_COLOR = 'blue';
var firstRun = true;

function drawResults(results) {
    $.each(results, function(name, value){
        var id = name.replace(/ /g, '_');
        var container = $('#' + id);
        if (container.length < 1) {
            container = $('<tr/>')
                .attr('id', id)
                .appendTo('#scoreboard');
        }
        container.empty();

        var ledClass = 'led led-' + (VALUE_TO_COLOR[value] || DEFAULT_COLOR);
        container
            .append($('<td class="led-label"></td>').text(name + ': '))
            .append($('<td/>').append($('<span/>').addClass(ledClass)));
    });
}

function getStatus() {
    $.getJSON("/api/services/status", function(results) {
        if (firstRun) {
            firstRun = false;
            // Clear the loading text
            $('#scoreboard').empty();
        }

        drawResults(results);
    });
}

$(function() {
    window.getStatusInterval = setInterval(getStatus, 1000);
});

namespace = '/scoring';
var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
socket.on('test', function(data) {
     $("#start").attr('disabled','disabled');
     $("#Button2Id").removeAttr('disabled');
});

function startScoring() {
    socket.emit('start_scoring_engine');
}

function stopScoring() {
    socket.emit('stop_scoring_engine');
}

</script>
{% endblock %}
{% set active_page = "scoreboard" %}
{% block content %}
    <table id="scoreboard">
        <tr>
            <td>Loading...</td>
        </tr>
    </table>

<input type="button" id='start' value="Start Scoring Process" onclick="startScoring()"/>
<input type="button" id='stop' value="Terminate Process" onclick="stopScoring()"/>

{% endblock %}
