<html>
    <head>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('connect', function() {
                 console.log('connected');
            });
            socket.on('message', function(data) {
                 $("#log").html(data.replace(/\n/g, "<br>"));
                 console.log(data);
            });
      </script>
    </head>
    <body>
    <p>Scoring Engine Log:</p>
    <ul id="log"></ul>
    </body>
</html>
