{% extends "base.html" %}
{% block title %}Logging Status{% endblock %}
{% block additional_head %}
<script type="text/javascript" charset="utf-8">
namespace = '/status';
var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
socket.on('init', function(data) {
     $("#log").html(data.replace(/\n/g, "<br>"));
});
socket.on('message', function(data) {
     $("#log").html(data.replace(/\n/g, "<br>"));
});
</script>
{% endblock %}
{% set active_page = "log" %}
{% block content %}
    <ul id="log"></ul>
{% endblock %}
